.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}