* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    border: solid red 1px;
    max-width: 600px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid rgb(89, 0, 255) 1px;
    width: 90%;
    height: 20%;
    padding: 0.2rem;
}

.searchCity input {
    border-radius: 1rem;
    padding: 0.5rem;
}

.searchCity button {
    color: #b6945e;
    background-color: inherit;
    border: 1px solid #b6945e;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: all 0.4s;
    outline: none;
    margin-left: 1rem;
}

.searchCity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
}