.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searchCity input {
    border-radius: 1rem;
    padding: 0.5rem;
}

.searchCity button {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: #b6945e;
    background-color: inherit;
    border: 1px solid #b6945e;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: all 0.4s;
    outline: none;
}

.searchCity {
    display: flex;
    flex-direction: column;
}